<p>
  Site: <%= @site.name %>
</p>
<p>
  Email: <%= @email %>
</p>
<p>
  Message: <%= @message %>
</p>
<p>
  Name: <%= @name %>
</p>
<p>
  Address: <%= @address %>
</p>
<p>
  Phone: <%= @phone %>
</p>
